extends ../layout

block content
    h1 Edit Product
    form(action="/products/edit/"+product._id, method="post")
        .form-group
            label(for="name") Product Name
            input#name(type="text", class="form-control", name="name", value=product.name)
        .form-group
            label(for="Price") Product Price
            input#Price(type="text", class="form-control", name="Price", value=product.Price)
        .form-group
            label(for="Description") Product Description
            textarea#Description(name="Description", class="form-control",cols="30", rows="10", placeholder="Description")
                if product.Description != undefined || product.Description != null
                    | #{product.Description}
        input(type="submit", class="btn btn-info")    